<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

     <table>
         <tr>
             <div class="text-center u-art-head" align="center">
                 <h1>致知于行，自我改变的起点—读《认知觉醒》</h1>
                 <p> 文/凌沐颜
                    <span>2020年10月21日 11:55</span>
                    <span class="el-str-len">字数 </span>
                    <span>阅读</span>
                    <span class="source">原创作品</span>
                    <a href="#标题"> 标题 </a>
                 </p>
             </div>
             <!--我是注释-->
         </tr>
         <td width="15%">
             <div id="导航">
                nihao
             </div>
         </td>
         <td>
             <div class="u-html" align="left">
                <p>致知于行是我大学的校训，这段时间以来不断地想起这四个字，是源于阅读了周岭所著的新书《认知觉醒》。红蓝科技感的封面上，用黑色字体表述本书的名字《认知觉醒》，旁边有这样一行小字：开启自我改变的原动力。对于大部分自我成长学习类的书籍，还是那句话：读过了不算结束，解决当下的问题或者实践书中的论点才是它的价值。</p>
                <p>早在17年的时候，上过超级演说家冠军刘媛媛关于学习的一个课程，在那个课程里讲到一个关于学习的底层方法论，为了实践这个方法我干了一件什么事呢？是临时地突兀地决定去考初中化学的教师资格证。通过运用她的这个方法论，让当时的我在零基础零经验，完全靠自学的情况下，顺利地通过了3门笔试，后续又通过了认定面试继而拿到教师资格证书。</p>
                 <div class="img_1" align="center">
                     <img src="1.jpg" width="80%" title="1.jpg" alt="桌面图片">
                 </div>
                <p>经过那一次的实践后，让我明白针对方法类的学习书籍，只有先把它读通了，然后开始实践其中某一些点，这本书你才算真正读过了。《认知觉醒》这本书，也是我想要推荐给大家的一本可以用在学习以前去学习的书。</p>
                <p>这本书的作者：周岭。在书的背后有这样一段介绍：他的文章有知识、有深度，读起来接地气、极易懂，给人以醍醐灌顶、受益匪浅之感。他的思考不慌张、不迎合，常被读者誉为一股清流。</p>
                 <h1 id="标题"> 标题 </h1>
                <p>当你翻开这本书，第一页写着这样一句话：成长也是一种美好。随后一页是本书的名字，书的第三页写着：送给我的女儿周子琪。这是一个父亲写给女儿的礼物，这份礼物被馈赠到万千读者的书中，这是一种缘分。它是温和而坚定地告知你一些关于成长，关于学习的经验和方法。</p>
                <p>整本书被分为上下两个大的篇章，上篇以内观自己，摆脱焦虑为主题，去认识大脑、潜意识以及元认知基本概念，在这里可以明白一些日常心理、行为产生的本质原因。下篇以外观世界，借力前行为主题，分别讲述专注力、学习力、行动力以及情绪力的练习和应用，在书的最后，送给大家成本最低的成长之道：早冥读写跑，人生五件套。</p>
                <p>最后分享书中一个我很认同并一直在实践的方法论：舒适区边缘。在这个区域中去寻找自己成长的度，结合准确定位、找到途径、彻底执行、及时反馈、反复调整和完成记录这一学习的底层方法论，致知于行，共同寻找成长的美好！</p>
             </div>
             <div class="u-art-end" align="center">
                <b>·&nbsp;END&nbsp;·</b> <br>
                文本版权归原作者所有，转载请保留<a href="http://www.wzbl.net" target="_blank">文字部落</a>的原文链接，并在文章开始处标注以下信息：<br />
             </div>
         </td>
         <th width="15%"> </th>
     </table>
</body>
</html>